@media screen and (min-width: 48em) {
    .has-sidebar #secondary {
        float: left;
    }
}

@media screen and (min-width: 48em){
    .has-sidebar:not(.error404) #primary {
        float: right;
    }
}

.widget_product_search .search-field {
    padding-left: 100px;
    padding-right: 0.7em;
}

.widget_product_search input[type=submit]{
    right: unset;
    left: .5em;
}

.single-product .woocommerce-product-rating .star-rating{
    float: right;
    margin-right: 0;
    margin-left: .5em;
}

.star-rating span{
    float: right;
    left: unset;
    right: 0;
}
.star-rating span::before{
    left: unset;
    right: 2px;
}
.site-footer .widget .product_list_widget li a.remove, .widget .product_list_widget li a.remove {
    float: left;
}

@media screen and (min-width: 48em){
    .site-info {
        float: right;
    }
}
@media screen and (min-width: 48em){
    .site-contacts {
        float: left;
        text-align: left;
    }
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
    float: right;
    margin-right: 0;
    margin-left: 3.8%;
}

ul.products li.product h3{
    direction: ltr;
}